/*
font-family: 'Baloo Da 2', cursive;
font-family: 'Oswald', sans-serif;
*/
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    
}
:root {
    --free-color:#0da5d3;
    --basic-color:#bdba0e;
    --standard-color:#e23b3b;
    --premium-color:#3be286;
    
}
* {
    padding: 0;
    margin:0;
    box-sizing: border-box;
    border: none;
    outline: none;
    list-style: none;
    font-family: 'Baloo Da 2', cursive;
    text-decoration: none;
    /* border:1px solid red; */
    
}
@font-face {
    font-family: 'MadeSoulmaze';
    src: url('/fonts/madesoulmaze.otf');
    font-style: normal;
}
/* COMMON STYLES */



.section-heading {
    font-size: 12rem;
    font-weight: 200;
    font-family: 'Oswald', sans-serif;
    color:#ddd;
    width: 55rem;
    
}
.section-heading-line {
    width:25rem;
    height: 0.2rem;
    background-color: #ddd;
}
/* COMMON STYLES */
/*NAVBAR*/
.navbar {
    background-color: rgba(0,0,0,0.9);

    position: fixed;
    top:-6.5vh;
    left:0;
    width:100%;
    height:6.5vh;
    z-index: 10;

    font-family: 'MadeSoulmaze';
    display: flex;

    animation: animateNavbar 1s 0.5s forwards;
    transition: all 0.5s;
}
@keyframes animateNavbar {
    0% {
        top:-6.5vh;
    }
    100% {
        top:0;
    }
}
.logo {
    color:#eee;
    font-size: 2.5rem;
    font-family: 'MadeSoulmaze';
    letter-spacing: 0.2rem;

    position: absolute;
    top:2rem;
    left:4rem;
}
.logo span {
    color:#9e0e09;
    font-size: 3.5rem;
    font-family: 'MadeSoulmaze';
}
.menu {
    position: fixed;
    right:4rem;
    top:2rem;
    z-index: 11;

    width: 4rem;
    height: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    
}
.line {
    width: 50%;
    height:0.2rem;
    background-color: #eee;
    transform-origin: right;
    transition: transform 0.5s;
}
.line-1 {
    align-self: flex-start;
    
}
.line-2 {
    width: 100%;
}
.line-3 {
    align-self: flex-end;
    
}
.change.line-1 {
    transform:translateX(100%) translateY(1.5rem) translateY(-50%) rotate(30deg); 

}
.change.line-3 {
    transform:  translateY(-1.5rem) translateY(50%) rotate(-30deg); 
}
.change.navbar {
    height:100vh;
}
.change.nav {
    opacity: 1;
    visibility: visible;
    transition: all 0.5s 0.5s;
}
.nav {
    width: 100%;
    height: 100%;
    position: absolute;
    top:25vh;
    left:0;
    display: flex;
    flex-direction: column;
    align-items: center;

    opacity: 0;
    visibility: hidden;
    transition: all 0.2s;

    overflow: hidden;
}
.nav a {
    color:#eee;
    font-size: 4.5rem;
    font-family: 'MadeSoulmaze';
    letter-spacing: 0.2rem;
    text-align: center;
    margin-bottom: 4rem;
    transition: color 0.5s;
}
.nav a:hover {
    color:#9e0e09;
}

/*NAVBAR*/
/* SECTION 1 */
.section-1 {
    width: 100%;
    height: 100vh;
    background: url('/images/dark-bg.jpeg') no-repeat;
    background-size: cover;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center; /*horizontally*/
}
.banner-heading {
    text-align: center;
    width: 100%;
    height:30rem;
    margin:20rem 0 2rem 0 ;
    padding: 0 auto;
    
    
    overflow: hidden;
    perspective: 50rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.banner-heading span {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity:0;
    visibility: hidden;
    transform: translateZ(8rem);
    letter-spacing: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 12rem;
    font-weight: 400;
    color:#eee;
    text-shadow: 1rem 1rem 2rem rgba(0,0,0,0.6);
}
@keyframes animate-heading {
    0% {
        opacity:0;
        visibility: hidden;
        transform: translateZ(8rem);
        letter-spacing: 3rem;
    }
    /* DiSPLAYING at 0% */
    3%{
        opacity:1;
        visibility: visible;
        transform: translateZ(0);
        letter-spacing: 1.5rem;
    }
    25% {
        opacity:1;
        visibility: visible;
        transform: translateZ(0);
        letter-spacing: 1.5rem;
    }
    /* HIDING at 25% */
    28% {
        opacity:0;
        visibility: hidden;
        transform: translateZ(8rem);
        letter-spacing: 3rem;
    }
    100% {
        opacity:0;
        visibility: hidden;
        transform: translateZ(8rem);
        letter-spacing: 3rem;
    }
}
.heading-1 {
    animation: animate-heading 12s 3s infinite;
}
.heading-2 {
    animation: animate-heading 12s 6s infinite;
}
.heading-3 {
    animation: animate-heading 12s 9s infinite;
}
.heading-4 {
    animation: animate-heading 12s 12s infinite;
}
.banner-paragraph {
    color:#eee;
    font-size: 4rem;
    background-color: rgba(0,0,0,0.6);
    width:30%;
    text-align: center;
    padding: 1rem 0;
    margin-bottom: 5rem;
    text-shadow: 1rem 1rem 2rem rgba(0,0,0,0.6);
    opacity: 0;
    animation: animate-opacity 1s 1.5s forwards;
}
.banner-button {
    width:30rem;
    text-transform: uppercase;
    color:#eee;
    font-size: 2rem;
    font-weight: 500;
    background-color: #7E1010;
    padding: 2rem 0;
    border-radius: 5rem;
    box-shadow: 1rem 1rem 2rem rgba(0,0,0,0.6);
    cursor: pointer;
    position: relative;
    overflow: hidden;
    opacity: 0;
    animation: animate-opacity 1s 2s forwards;
}
@keyframes animate-opacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.banner-button::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left:-100%;
    background:linear-gradient(to right , transparent , #fff , transparent);
    transform: skewX(-30deg);
    transition: transform 0.5s;
}
.banner-button:hover::before {
    transform:skewX(20deg) translateX(200%);
}
/* SECTION 1 */
/* SECTION 2 */
.section-2 {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    padding:0 10rem;
    background-color: #222020;
}
.section-2-right {
    width: 100%;
    height: 100%;
    padding: 5rem 0 10rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}
.video-wrapper {
    width:100rem;
    height: 50rem;
    position: relative;
    overflow: hidden;
}

.video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.3;
    transition: all 0.5s;
}
.controllers {
    position: absolute;
    bottom: -14%;
    width: 100%;
    height:15%;
    background-color: rgba(0,0,0,0.8);
    transition: bottom 0.5s;
}
.video-wrapper:hover .controllers {
    bottom: 0;
}
.controllers button {
    background-color: transparent;
    position: absolute;
    left:2rem;
    bottom: 1.5rem;
    cursor: pointer;
}
.controllers button i {
    color:#fff;
    font-size: 3rem;
    transition: all 0.5s;
}
.bar-wrapper {
    width:100%;
    height: 10%;
    background-color: #000;
    position: absolute;
    top:0;
    left:0;
}
.bar {
    width:0;
    height: 100%;
    background-color: #d30819;
    transition: width 0.2s linear;
}
.info {
    width: 100rem;
    border-top: 0.3rem  #aaa double;
    border-bottom: 0.3rem  #aaa double;
    padding: 2rem 0;
    color:#ddd;
    display: flex;
    flex-direction: column;
}
.fa-quote-left {
    align-self: flex-start;
    font-size: 5rem;
    text-shadow:2rem 2rem 3rem rgba(0,0,0,0.6);
    margin-bottom: 1rem;
}
.info p {
    text-align: justify;
    font-size: 2rem;
    text-shadow:1rem 1rem 3rem rgba(0,0,0,0.6);
}
.fa-quote-right {
    align-self: flex-end;
    font-size: 5rem;
    text-shadow:2rem 2rem 3rem rgba(0,0,0,0.6);
}
/* SECTION 2 */
/* SECTION 3 */

.section-3 {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center; /*vertically*/
    padding:0 10rem;
    background-color: #03070E;
}
.section-3-right {
    width: 100%;
    height: 80%;
    padding: 20rem 10rem;
    display: flex;
    perspective: 100rem;
    
}
.card {
    width: 30rem;
    height:50rem;
    position: relative;
    border-radius: 2rem;
    transform-style: preserve-3d;
    box-shadow: 2rem 2rem 3rem rgba(0,0,0,0.6);
}
.front-face {
    width: 100%;
    height: 100%;
    background-color: #181b1d;
    display: flex;
    flex-direction: column;
    align-items: center; /*horizontally*/
    position: relative;
    border-radius: 2rem;
}
.front-face h3 {
    width: 100%;
    border-radius: 2rem 2rem 0 0;
    align-self: flex-start; /*horizontally*/
    padding:1rem 2rem;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
    color:#fff;
}
.free .front-face h3 {
    background:linear-gradient(to right ,#087285 ,var(--free-color));
}
.basic .front-face h3 {
    background:linear-gradient(to right ,#946809 ,var(--basic-color));
}
.standard .front-face h3 {
    background:linear-gradient(to right ,#a10c14 ,var(--standard-color));
}
.premium .front-face h3 {
    background:linear-gradient(to right ,#0b7e48 ,var(--premium-color));
}
.front-face h2 {
    font-size: 6rem;
    font-family: 'MadeSoulmaze';
    color:#eee;
    letter-spacing: 0.2rem;
}
.front-face ul {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
}
.front-face li {
    font-size: 2.5rem;
    
}
.front-face li i {
    width: 3rem;
    height: 3rem;
    text-align: center;
    margin-right: 2rem;
    
}
.free .front-face li {
    color:var(--free-color);
}
.basic .front-face li {
    color:var(--basic-color);
}
.standard .front-face li {
    color:var(--standard-color);
}
.premium .front-face li {
    color:var(--premium-color);
}
.front-face a {
    font-size: 2rem;
    color: #fff;
    display: flex;
    justify-content: center;
    align-self: center;
    padding: 1rem 4rem;
    border-radius: 3rem;
    position: absolute;
    bottom: 4rem;
}
.free .front-face a {
    background-color: var(--free-color);
}
.basic .front-face a {
    background-color: var(--basic-color);
}
.standard .front-face a {
    background-color: var(--standard-color);
}
.premium .front-face a {
    background-color: var(--premium-color);
}
.back-face {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    

}
.free .back-face {
    background:linear-gradient(to right ,#087285 ,var(--free-color));
}
.basic .back-face {
    background:linear-gradient(to right ,#946809 ,var(--basic-color));
}
.standard .back-face {
    background:linear-gradient(to right ,#a10c14 ,var(--standard-color));
}
.premium .back-face {
    background:linear-gradient(to right ,#0b7e48 ,var(--premium-color));
}
.back-face a {
    text-align: center;
    font-size: 3rem;
    color:#fff;
}
/* SECTION 3 */
/* SECTION 4 */
.section-4 {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    padding:0 10rem;
    background-color: #171718;
}
.section-4-right {
    width: 100%;
    height: 100%;
    padding: 20rem 0;
    display: flex;
    flex-direction: column;
    align-items: center; /*horizontally*/
}
.contact {
    display: flex;
    margin-bottom: 8rem;
}
.phone , .address , .email {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin:0 10rem;
}
.contact i {
    color:#7a1010;
    font-size: 7rem;
    margin-bottom: 5rem;
}
.contact h3 {
    font-family: 'MadeSoulmaze';
    color:#ccc;
    font-size: 2.5rem;
    letter-spacing: 0.2rem;
    margin-bottom:2rem;
}

.contact p {
    color:#aaa;
    font-size: 1.5rem;
}
.section-4-right h2 {
    color:#ccc;
    text-transform: uppercase;
    font-size: 4rem;
    margin-bottom: 4rem;
}
.form {
    display: flex;
    flex-direction: column;
    width: 70rem;
}
.form input {
    width: 100%;
    height:5rem;
    padding: 3rem;
    font-size: 2rem;
    font-family: 'Oswald', sans-serif;
    background-color: #444;
    color:#eee;
    margin-bottom: 3rem;
}
.form textarea {
    width: 100%;
    min-width: 50%;
    max-width: 100%;
    height:10rem;
    min-height: 5rem;
    max-height: 20rem;
    padding: 3rem;
    font-size: 2rem;
    font-family: 'Oswald', sans-serif;
    background-color: #444;
    color:#eee;
    margin-bottom: 3rem;
}
.form input[type='submit'] {
    width: 100%;
    height:5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0;
    background-color: #7a1010;
    color:#fff;
    cursor: pointer;
    transition: background-color 0.5s;
    letter-spacing: 0.2rem;

}
.form input[type='submit']:hover {
    background-color: #5f0303;
}
/* SECTION 4 */
/*FOOTER*/

footer {
    background-color: #202122;
    display: flex;
    justify-content: space-between;
    padding:5rem 10rem;
}
footer nav {
    display: flex;
}
footer nav a {
    margin-right: 4rem;
    font-family: 'MadeSoulmaze';
    font-size: 2rem;
    color:#ccc;
    transition: color 0.5s;
    letter-spacing: 0.2rem;
}
footer nav a:hover {
    color:#862323;
}
footer p {
    color:#ddd;
    font-size: 2rem;
    letter-spacing: 0.2rem;
}
/*FOOTER*/
